# Feature Transformation
1. Missing Value Imputation (Remove Missing Values | Impute Missing Values)<br>
    - Remove (drop) <br>
    - Impute (CCA: Complete Case Analysis) <br>
        - Univariate Imputation (Use When MCAR: Missing Completely at random ) <br><br>
            a. Numerical <br><br>
                - Mean/median<br>
                - Random<br>
                - End of Distribution (NMAR: Not missing at Random)<br><br>
            b. Categorical<br><br>
                - Mode<br>
                - Missing (indicator)<br><br>
        - Multivariate Imputation<br><br>
            - KNN imputer <br>
            - Iterative Imputer <br>
            - MICE (Multivariate Imputation by Chained Equations)<br><br>

In [21]:
import seaborn as sns
import pandas as pd

In [14]:
data = sns.load_dataset('penguins')
data.isnull().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
dtype: int64

In [15]:
data

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

In [24]:
df = pd.read_csv("titanic_toy.csv")
df.isnull().sum()

Age         177
Fare         45
Family        0
Survived      0
dtype: int64